@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.ReceiptLandingPageGrid{
    /* border: solid 2pt pink; */
    height: 100vh;
    display: grid;
    width: 40%;
    grid-template-rows: 0.3fr 3fr 0.2fr 0.3fr;
  }